@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* font-family: 'Staatliches', cursive; */

:root{
   --primario: #9C27B0;
   --primarioOscuro: #89119D;
   --secundario: #FFCE00;
   --secundarioOscuro: rgb(233, 287, 2);
   --blanco: #FFF;
   --negro: #000;

   /* font-family */
    --fuentePrincipal: 'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* ================================= GLOBALES ================================= */

body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 12.5rem;
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
}

p{
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
}

a{
    text-decoration: none;
    color: white;
}


.contenedor{
    margin: 0 auto;
    max-width: 120rem;
}

h1, h2, h3{
    text-align: center;
    color: var(--blanco);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/* ================================= SECUNDARIOS (HEADER) ================================= */

.header{
    display: flex;
    justify-content: center;
    /* margin-bottom: 4rem; */
}

.header__logo{
    width: 30rem;
    padding: 1.5rem 0;
    margin-bottom: 4rem;
}

/* ================================= (NAV) ================================= */
.nav{
    display: flex;
    justify-content: center;
    background-color: var(--primarioOscuro);
}

.nav__enlace{
    font-size: 4rem;
    padding: 2rem 4rem;
}

.nav__enlace--activo, .nav__enlace:hover{
    color: var(--secundario);
}
/* ================================= (FOOTER) ================================= */
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
    height: 96px;
    z-index: 2;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer__texto{
    text-align: center;
    font-size: 2.2rem;
}

/* ================================= (GRID CONTAINER) ================================= */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 786px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* ================================= (MAIN-CONTENEDOR) ================================= */
.contenedor h1{
    color: var(--secundario);
}
/* ================================= (PRODUCTOS) ================================= */
.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__imagen{
    width: 100%;
}

.producto__nombre{
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
}

.producto__precio{
    font-size: 2.8rem;
    text-align: center;
    margin: 1rem 0;
    color: var(--secundario);
    line-height: 1.2;
}

@media (max-width: 400px){
    .producto{
        max-width: 20rem;
        justify-self: center;
    }

    .producto__nombre{
        font-size: 2rem;
    }

    .producto__precio{
        font-size: 1.8rem;
    }

    .nav__enlace{
        font-size: 2rem;
    }

    .header__logo{
        width: 20rem;
    }

    .grid{
        margin: 5px
    }
}

/* ================================= (GRÁFICOS) ================================= */

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafico--camisas{
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
    
}

.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 786px){
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* ================================= (SOBRE NOSOTROS) ================================= */

.grid__nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
}

.flex__nosotros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid__nosotros__img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.46);
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.46);
}

.grid__nosotros__texto{
    font-family: Arial, Helvetica, sans-serif;
}

/* ================================= (BLOQUES) ================================= */


.comprar__titulo{
    color: var(--secundario);
}

.bloques{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.bloque__titulo{
    color: var(--secundario);
    margin: 0;
}

.bloque{
    text-align: center;
}

.bloque p{
    max-width: 40rem;
    margin: 0 auto;
}




@media (max-width: 768px){

    .grid__nosotros{
        grid-template-columns: 1fr;
    }

    .grid__nosotros__texto{
        justify-self: center;
        margin: 10px 10px;
    }

    .grid__nosotros__img{
        grid-row: 1 / 2;
    }
}

@media (max-width: 500px){
    .bloques{
        grid-template-columns: 1fr;
    }

    .bloque__imagen{
        width: 75%;
    }
}
